body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  /* margin: auto;
  width: 50%; */
  text-align: center;
}

img {
  margin: auto;
  display: block;
}

nav,
figcaption {
  margin: auto;
  text-align: center;
}

nav a {
  padding: 10px;
  background: grey;
}



#featured-property p {
  width: 800px;
  text-align: center;
  margin: auto;
}

#details div{
  display: block;
  float: left;
  text-align: center;
  width: 25%;
  background-color: red;
}
